.admin-main{
    margin-top:20px;
    margin-left:10px;
    width: 150px;
    height: 500px
}
.main_body{

}
/*html{
	background:#ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding:1vw;
}*/
/*.clearfix:before,
.clearfix:after{
  content:" ";
  display: table;
}

.clearfix:after{
  clear:both;
}*/
.layui-elem-field{
     border: 1px solid #2889CD;
    wight:180px;
    height: 430px;
}

/*.layui-elem-field legend{
    margin-left:200px;
    padding:0 0px;
    margin-right:190px;
    font-size:20px;
    font-weight:300;
}*/

#contentBox{
  /*width:90%;*/
  margin:0px;
    width:170px;

}

.buttonBox{
    position:relative;
    margin:1.5vw 0 3.0vw 2.0vw; /*上  右 下  左*/
    width:130px  ;
}
.buttonBox2{
    position:relative;
    margin:1.5vw 0 3.0vw 2.0vw;
    width:130px;
}

button{
	width: 100%;
	height: 50px;
	position: relative;
	background: #333;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-size: 15px;
	outline: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}
.buttonBox>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:3px solid #009688;
  border-top:3px solid #009688;
  width:15px;
  height:15px;
}
.buttonBox>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:3px solid #009688;
  border-bottom:3px solid #009688;
  width:15px;
  height:15px;
}

.buttonBox:hover .border{
    width:102%;
  height:105%;
}

.buttonBox2>.border:nth-of-type(1){
    top:0;
    left:0;
    border-left:3px solid #009688;
    border-top:3px solid #009688;
    width:125px;
    height:54px;
}
.buttonBox2>.border:nth-of-type(2){
    bottom:0;
    right:0;
    border-right:3px solid #009688;
    border-bottom:3px solid #009688;
    width:125px;
    height:54px;
}


::-webkit-scrollbar {
    display:none
}
